/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 1rem 0 2rem;
    background-image: linear-gradient(
        to left,
        #e0e0e0,
        #e6e6e6,
        #ebebeb,
        #f1f1f1,
        #f7f7f7,
        #f6f5f9,
        #f3f4fc,
        #f0f3ff,
        #e0ebff,
        #cce5ff,
        #b4dfff,
        #97daff
    );
}

.register-teams-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.register-teams-container .form-register h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.register-teams-container .form-register .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.register-teams-container .form-register label {
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.register-teams-container .form-register input {
    padding: 0.5rem 0.3rem;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0.3rem 0.3rem 0 0;
    background: rgba(0, 0, 0, 0.08);
    font-weight: 500;
    opacity: 0.8;
}

/* error input */

.register-teams-container .form-register .error,
.register-teams-container .form-register .error:focus {
    transition: 0.3s;
    border-bottom: 2px solid #dd0101;
}

/* utilities */

.restart-btn {
    position: relative;
    margin-left: 13rem;
}

.hide {
    display: none !important;
}

.register-teams-container .form-register .message-error {
    min-height: 0.9rem;
    margin-top: 0.2rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: #dd0101;
    transition: 0.3s;
}

.register-teams-container .form-register .btn-add,
.register-teams-container .form-register .btn-random-number {
    padding: 0.6rem 0.8rem;
    border: 3px solid transparent;
    border-radius: 0.3rem;
    font-weight: 600;
    opacity: 0.7;
    cursor: pointer;
}

.register-teams-container .form-register input:focus,
.register-teams-container .form-register .btn-add:hover,
.register-teams-container .form-register .btn-random-number:hover {
    transition: 0.3s;
    border-bottom-color: #101010;
    opacity: 1;
}

.register-teams-container .form-register .btn-add:hover,
.register-teams-container .form-register .btn-random-number:hover {
    border-color: #101010;
}

.register-teams-container .form-register .btn-random-number {
    margin-left: 2rem;
}

/* listed teams */
.list-of-teams {
    width: 100%;
    max-width: 500px;
    min-height: 3rem;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.3rem 0 0.3rem 0;
    box-shadow: rgba(156, 156, 156, 0.445) 1px 5px 10px 5px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
}

.list-of-teams .team-listed {
    width: 100%;
    border: 0.5px solid #dddd;
    border-radius: 0.3rem;
}

.list-of-teams .team-listed .team-name-info,
.list-of-teams .team-listed .team-power-info {
    width: 100%;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    margin-bottom: 0.2rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: 500;
    word-wrap: break-word;
    word-break: break-all;
}

.list-of-teams .team-listed .team-name-info .team-name {
    width: 100%;
}

.list-of-teams .team-listed .team-power-info p {
    text-decoration: line-through;
}

.list-of-teams .team-listed .team-power-info i {
    margin-right: 0.2rem;
}

/* field */
.field-container {
    width: 100%;
    max-width: 620px;
    padding: 1rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    box-shadow: rgba(156, 156, 156, 0.259) 1px 1px 10px 5px;
}

.field-container .first-stage,
.field-container .second-stage,
.field-container .final-stage {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.1);
}

/* item */

.field-container .first-stage .box-items {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.field-container .first-stage .box-items .item,
.field-container .second-stage .item,
.field-container .final-stage .item {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    border: 1px solid #ddd;
    word-wrap: break-word;
    word-break: break-all;
}

.field-container .first-stage .box-items .item p,
.field-container .second-stage .item p,
.field-container .final-stage p {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.field-container .first-stage .box-items .item i,
.field-container .second-stage .item i,
.field-container .final-stage i {
    background: #ddd;
    padding: 0.7rem 0.9rem;
}
